<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Awesome-pyecharts</title>
<script src="https://assets.pyecharts.org/assets/echarts.min.js" type="text/javascript"></script>
</head>
<body>
<style>.box {  }; </style>
<div class="box">
<div class="chart-container" id="36122c428f374f888f611862b122e1bb" style="width:50%;height:50%;position:absolute;top:0;left:25%;"></div>
<script>
        var chart_36122c428f374f888f611862b122e1bb = echarts.init(
            document.getElementById('36122c428f374f888f611862b122e1bb'), 'white', {renderer: 'canvas'});
        var option_36122c428f374f888f611862b122e1bb = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "1",
                    795076
                ],
                [
                    "2",
                    713596
                ],
                [
                    "3",
                    783515
                ],
                [
                    "4",
                    890713
                ],
                [
                    "5",
                    799023
                ],
                [
                    "6",
                    861885
                ],
                [
                    "7",
                    718231
                ],
                [
                    "8",
                    658755
                ],
                [
                    "9",
                    612155
                ],
                [
                    "10",
                    601900
                ],
                [
                    "11",
                    527604
                ],
                [
                    "12",
                    453596
                ],
                [
                    "13",
                    403163
                ],
                [
                    "14",
                    307841
                ],
                [
                    "15",
                    218483
                ],
                [
                    "16",
                    252465
                ],
                [
                    "17",
                    300989
                ],
                [
                    "18",
                    325445
                ],
                [
                    "19",
                    357104
                ],
                [
                    "20",
                    380756
                ],
                [
                    "21",
                    425819
                ],
                [
                    "22",
                    484483
                ],
                [
                    "23",
                    536003
                ],
                [
                    "24",
                    549250
                ],
                [
                    "25",
                    533853
                ],
                [
                    "26",
                    534983
                ],
                [
                    "27",
                    546853
                ],
                [
                    "28",
                    535682
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u4eba\u6570"
            ],
            "selected": {
                "\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18",
                "19",
                "20",
                "21",
                "22",
                "23",
                "24",
                "25",
                "26",
                "27",
                "28"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "PV\u65e5\u6d41\u91cf\u6298\u7ebf\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_36122c428f374f888f611862b122e1bb.setOption(option_36122c428f374f888f611862b122e1bb);
    </script>
<br/> <div class="chart-container" id="eb9ff0673f1a42cebae9e41d70b1975e" style="width:50%;height:50%;position:absolute;top:50%;left:25%;"></div>
<script>
        var chart_eb9ff0673f1a42cebae9e41d70b1975e = echarts.init(
            document.getElementById('eb9ff0673f1a42cebae9e41d70b1975e'), 'white', {renderer: 'canvas'});
        var option_eb9ff0673f1a42cebae9e41d70b1975e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u4eba\u6570",
            "legendHoverLink": true,
            "data": [
                2114219,
                2144706,
                2235654,
                2277615,
                2156797,
                2192657,
                1987573
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4eba\u6570"
            ],
            "selected": {
                "\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Friday",
                "Monday",
                "Saturday",
                "Sunday",
                "Thursday",
                "Tuesday",
                "Wednesday"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "PV\u5468\u6d41\u91cf\u67f1\u72b6\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_eb9ff0673f1a42cebae9e41d70b1975e.setOption(option_eb9ff0673f1a42cebae9e41d70b1975e);
    </script>
<br/> <div class="chart-container" id="fabf1e24573242a994918626c90d6608" style="width:50%;height:50%;position:absolute;top:100%;left:25%;"></div>
<script>
        var chart_fabf1e24573242a994918626c90d6608 = echarts.init(
            document.getElementById('fabf1e24573242a994918626c90d6608'), 'white', {renderer: 'canvas'});
        var option_fabf1e24573242a994918626c90d6608 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u4eba\u6570",
            "legendHoverLink": true,
            "data": [
                578169,
                267681,
                147235,
                101519,
                87123,
                104845,
                201615,
                388090,
                602971,
                753877,
                863880,
                807457,
                764820,
                771347,
                772909,
                790097,
                812075,
                753223,
                706389,
                794824,
                955786,
                1096877,
                1130958,
                855454
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4eba\u6570"
            ],
            "selected": {
                "\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18",
                "19",
                "20",
                "21",
                "22",
                "23"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "PV\u65f6\u6d41\u91cf\u67f1\u72b6\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_fabf1e24573242a994918626c90d6608.setOption(option_fabf1e24573242a994918626c90d6608);
    </script>
<br/> <div class="chart-container" id="fe5eee24be9d490abe729ad390c0f4d6" style="width:50%;height:50%;position:absolute;top:150%;left:25%;"></div>
<script>
        var chart_fe5eee24be9d490abe729ad390c0f4d6 = echarts.init(
            document.getElementById('fe5eee24be9d490abe729ad390c0f4d6'), 'white', {renderer: 'canvas'});
        var option_fe5eee24be9d490abe729ad390c0f4d6 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "funnel",
            "name": "\u7c7b\u522b",
            "data": [
                {
                    "name": "\u6d4f\u89c8",
                    "value": 13969834
                },
                {
                    "name": "\u4e0b\u5355",
                    "value": 740455
                },
                {
                    "name": "\u5173\u6ce8",
                    "value": 149749
                },
                {
                    "name": "\u8bc4\u8bba",
                    "value": 249183
                }
            ],
            "sort": "descending",
            "gap": 0,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6d4f\u89c8",
                "\u5173\u6ce8",
                "\u4e0b\u5355",
                "\u8bc4\u8bba"
            ],
            "selected": {
                "\u6d4f\u89c8": true,
                "\u4e0b\u5355": true,
                "\u5173\u6ce8": true,
                "\u8bc4\u8bba": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "PV\u8f6c\u5316\u7387\u6f0f\u6597\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_fe5eee24be9d490abe729ad390c0f4d6.setOption(option_fe5eee24be9d490abe729ad390c0f4d6);
    </script>
<br/> </div>
<script>
</script>
</body>
</html>
