<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="5ff59c75a1ca42c59fe6060ce94aebe3" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_5ff59c75a1ca42c59fe6060ce94aebe3 = echarts.init(
            document.getElementById('5ff59c75a1ca42c59fe6060ce94aebe3'), 'white', {renderer: 'canvas'});
        var option_5ff59c75a1ca42c59fe6060ce94aebe3 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "funnel",
            "name": "\u7c7b\u522b",
            "data": [
                {
                    "name": "\u6d4f\u89c8",
                    "value": 13408561
                },
                {
                    "name": "\u4e0b\u5355",
                    "value": 1002293
                },
                {
                    "name": "\u5173\u6ce8",
                    "value": 202514
                },
                {
                    "name": "\u8bc4\u8bba",
                    "value": 390743
                }
            ],
            "sort": "descending",
            "gap": 0,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6d4f\u89c8",
                "\u4e0b\u5355",
                "\u8bc4\u8bba",
                "\u5173\u6ce8"
            ],
            "selected": {
                "\u6d4f\u89c8": true,
                "\u4e0b\u5355": true,
                "\u5173\u6ce8": true,
                "\u8bc4\u8bba": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u8f6c\u5316\u7387\u6f0f\u6597\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_5ff59c75a1ca42c59fe6060ce94aebe3.setOption(option_5ff59c75a1ca42c59fe6060ce94aebe3);
    </script>
</body>
</html>
