<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Awesome-pyecharts</title>
<script src="https://assets.pyecharts.org/assets/echarts.min.js" type="text/javascript"></script>
</head>
<body>
<style>.box {  }; </style>
<div class="box">
<div class="chart-container" id="25b3c05fec804a57a39fc30669c87cf0" style="width:50%;height:50%;position:absolute;top:0;left:25%;"></div>
<script>
        var chart_25b3c05fec804a57a39fc30669c87cf0 = echarts.init(
            document.getElementById('25b3c05fec804a57a39fc30669c87cf0'), 'white', {renderer: 'canvas'});
        var option_25b3c05fec804a57a39fc30669c87cf0 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u4e0a\u6708",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "1",
                    795076
                ],
                [
                    "2",
                    713596
                ],
                [
                    "3",
                    783515
                ],
                [
                    "4",
                    890713
                ],
                [
                    "5",
                    799023
                ],
                [
                    "6",
                    861885
                ],
                [
                    "7",
                    718231
                ],
                [
                    "8",
                    658755
                ],
                [
                    "9",
                    612155
                ],
                [
                    "10",
                    601900
                ],
                [
                    "11",
                    527604
                ],
                [
                    "12",
                    453596
                ],
                [
                    "13",
                    403163
                ],
                [
                    "14",
                    307841
                ],
                [
                    "15",
                    218483
                ],
                [
                    "16",
                    252465
                ],
                [
                    "17",
                    300989
                ],
                [
                    "18",
                    325445
                ],
                [
                    "19",
                    357104
                ],
                [
                    "20",
                    380756
                ],
                [
                    "21",
                    425819
                ],
                [
                    "22",
                    484483
                ],
                [
                    "23",
                    536003
                ],
                [
                    "24",
                    549250
                ],
                [
                    "25",
                    533853
                ],
                [
                    "26",
                    534983
                ],
                [
                    "27",
                    546853
                ],
                [
                    "28",
                    535682
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u672c\u6708",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "1",
                    517765
                ],
                [
                    "2",
                    487276
                ],
                [
                    "3",
                    532623
                ],
                [
                    "4",
                    542746
                ],
                [
                    "5",
                    515401
                ],
                [
                    "6",
                    532494
                ],
                [
                    "7",
                    545574
                ],
                [
                    "8",
                    522740
                ],
                [
                    "9",
                    501923
                ],
                [
                    "10",
                    490011
                ],
                [
                    "11",
                    500267
                ],
                [
                    "12",
                    504369
                ],
                [
                    "13",
                    519499
                ],
                [
                    "14",
                    550964
                ],
                [
                    "15",
                    594285
                ],
                [
                    "16",
                    507005
                ],
                [
                    "17",
                    527787
                ],
                [
                    "18",
                    551927
                ],
                [
                    "19",
                    535106
                ],
                [
                    "20",
                    538410
                ],
                [
                    "21",
                    519816
                ],
                [
                    "22",
                    498911
                ],
                [
                    "23",
                    479507
                ],
                [
                    "24",
                    481252
                ],
                [
                    "25",
                    498316
                ],
                [
                    "26",
                    507544
                ],
                [
                    "27",
                    52573
                ],
                [
                    "28",
                    65396
                ],
                [
                    "29",
                    481404
                ],
                [
                    "30",
                    444890
                ],
                [
                    "31",
                    456330
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e0a\u6708",
                "\u672c\u6708"
            ],
            "selected": {
                "\u4e0a\u6708": true,
                "\u672c\u6708": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18",
                "19",
                "20",
                "21",
                "22",
                "23",
                "24",
                "25",
                "26",
                "27",
                "28",
                "29",
                "30",
                "31"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "PV\u65e5\u6d41\u91cf\u6298\u7ebf\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_25b3c05fec804a57a39fc30669c87cf0.setOption(option_25b3c05fec804a57a39fc30669c87cf0);
    </script>
<br/> <div class="chart-container" id="7ba839d71c124bf39288ed16ca33d914" style="width:50%;height:50%;position:absolute;top:50%;left:25%;"></div>
<script>
        var chart_7ba839d71c124bf39288ed16ca33d914 = echarts.init(
            document.getElementById('7ba839d71c124bf39288ed16ca33d914'), 'white', {renderer: 'canvas'});
        var option_7ba839d71c124bf39288ed16ca33d914 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u4e0a\u6708",
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                2114219,
                2144706,
                2235654,
                2277615,
                2156797,
                2192657,
                1987573
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "50%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u672c\u6708",
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                2420601,
                2062420,
                2488003,
                2093256,
                2615105,
                1642976,
                1681750
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "50%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "line",
            "name": "\u589e\u957f\u7387",
            "connectNulls": false,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "Friday",
                    14.49
                ],
                [
                    "Monday",
                    -3.84
                ],
                [
                    "Saturday",
                    11.29
                ],
                [
                    "Sunday",
                    -8.09
                ],
                [
                    "Thursday",
                    21.25
                ],
                [
                    "Tuesday",
                    -25.07
                ],
                [
                    "Wednesday",
                    -15.39
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e0a\u6708",
                "\u672c\u6708",
                "\u589e\u957f\u7387"
            ],
            "selected": {
                "\u4e0a\u6708": true,
                "\u672c\u6708": true,
                "\u589e\u957f\u7387": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Friday",
                "Monday",
                "Saturday",
                "Sunday",
                "Thursday",
                "Tuesday",
                "Wednesday"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "type": "value",
            "name": "\u589e\u957f\u7387",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 10,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} %"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "PV\u5468\u6d41\u91cf\u67f1\u72b6\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_7ba839d71c124bf39288ed16ca33d914.setOption(option_7ba839d71c124bf39288ed16ca33d914);
    </script>
<br/> <div class="chart-container" id="d89f9e471f604513b17dbc8a1fdc55d5" style="width:50%;height:50%;position:absolute;top:100%;left:25%;"></div>
<script>
        var chart_d89f9e471f604513b17dbc8a1fdc55d5 = echarts.init(
            document.getElementById('d89f9e471f604513b17dbc8a1fdc55d5'), 'white', {renderer: 'canvas'});
        var option_d89f9e471f604513b17dbc8a1fdc55d5 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u4e0a\u6708",
            "legendHoverLink": true,
            "data": [
                578169,
                267681,
                147235,
                101519,
                87123,
                104845,
                201615,
                388090,
                602971,
                753877,
                863880,
                807457,
                764820,
                771347,
                772909,
                790097,
                812075,
                753223,
                706389,
                794824,
                955786,
                1096877,
                1130958,
                855454
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "50%",
            "barGap": "0%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u672c\u6708",
            "legendHoverLink": true,
            "data": [
                549811,
                237264,
                127817,
                86110,
                74198,
                99312,
                233981,
                403304,
                596641,
                750488,
                892382,
                819011,
                793407,
                790282,
                781322,
                795939,
                801306,
                738590,
                698797,
                775999,
                943643,
                1074688,
                1114113,
                825706
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "50%",
            "barGap": "0%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "line",
            "name": "\u589e\u957f\u7387",
            "connectNulls": false,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "0",
                    -4.9
                ],
                [
                    "1",
                    -11.36
                ],
                [
                    "2",
                    -13.19
                ],
                [
                    "3",
                    -15.18
                ],
                [
                    "4",
                    -14.84
                ],
                [
                    "5",
                    -5.28
                ],
                [
                    "6",
                    16.05
                ],
                [
                    "7",
                    3.92
                ],
                [
                    "8",
                    -1.05
                ],
                [
                    "9",
                    -0.45
                ],
                [
                    "10",
                    3.3
                ],
                [
                    "11",
                    1.43
                ],
                [
                    "12",
                    3.74
                ],
                [
                    "13",
                    2.45
                ],
                [
                    "14",
                    1.09
                ],
                [
                    "15",
                    0.74
                ],
                [
                    "16",
                    -1.33
                ],
                [
                    "17",
                    -1.94
                ],
                [
                    "18",
                    -1.07
                ],
                [
                    "19",
                    -2.37
                ],
                [
                    "20",
                    -1.27
                ],
                [
                    "21",
                    -2.02
                ],
                [
                    "22",
                    -1.49
                ],
                [
                    "23",
                    -3.48
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e0a\u6708",
                "\u672c\u6708",
                "\u589e\u957f\u7387"
            ],
            "selected": {
                "\u4e0a\u6708": true,
                "\u672c\u6708": true,
                "\u589e\u957f\u7387": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18",
                "19",
                "20",
                "21",
                "22",
                "23"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "type": "value",
            "name": "\u589e\u957f\u7387",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 10,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} %"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "PV\u65f6\u6d41\u91cf\u67f1\u72b6\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_d89f9e471f604513b17dbc8a1fdc55d5.setOption(option_d89f9e471f604513b17dbc8a1fdc55d5);
    </script>
<br/> <div class="chart-container" id="a64ec8ee4e1b4c40a478b126d8db8948" style="width:50%;height:50%;position:absolute;top:150%;left:25%;"></div>
<script>
        var chart_a64ec8ee4e1b4c40a478b126d8db8948 = echarts.init(
            document.getElementById('a64ec8ee4e1b4c40a478b126d8db8948'), 'white', {renderer: 'canvas'});
        var option_a64ec8ee4e1b4c40a478b126d8db8948 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "funnel",
            "name": "\u7c7b\u522b",
            "data": [
                {
                    "name": "\u6d4f\u89c8",
                    "value": 13408561
                },
                {
                    "name": "\u4e0b\u5355",
                    "value": 1002293
                },
                {
                    "name": "\u5173\u6ce8",
                    "value": 202514
                },
                {
                    "name": "\u8bc4\u8bba",
                    "value": 390743
                }
            ],
            "sort": "descending",
            "gap": 0,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e0b\u5355",
                "\u6d4f\u89c8",
                "\u5173\u6ce8",
                "\u8bc4\u8bba"
            ],
            "selected": {
                "\u6d4f\u89c8": true,
                "\u4e0b\u5355": true,
                "\u5173\u6ce8": true,
                "\u8bc4\u8bba": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "PV\u8f6c\u5316\u7387\u6f0f\u6597\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_a64ec8ee4e1b4c40a478b126d8db8948.setOption(option_a64ec8ee4e1b4c40a478b126d8db8948);
    </script>
<br/> </div>
<script>
</script>
</body>
</html>
